{% extends 'base.html' %}
{% load static %}

{% block title %}Order Summary{% endblock title %}

{% block content %}


<body>

{% include 'navbar.html' %}




  <main>
    <div class="container">


    <div class = 'table-responsive text-nowrap'>
    <h2> Order Summary </h2>

        <table class="table table-sm">

                        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Item Title</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total Item Price</th>
            
            </tr>
        </thead>
        <tbody>
        {% for order_item in object.items.all %}
            <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{order_item}}</td>
            <td>
            {% if order_item.item.discount_price %}
            
              {{order_item.item.discount_price}}

            {% else %}

              {{order_item.item.price}}
            {% endif %}
            </td>
            
            <td><a href = {% url 'djecommerce:remove-single-from-cart' order_item.item.slug %}><i class="fa fa-minus mr-2" aria-hidden="true"></i></a>{{order_item.quantity}}
            <a href = {% url 'djecommerce:add-to-cart-single' order_item.item.slug %}><i class="fa fa-plus ml-2" aria-hidden="true"></i></a>
            <td>

            {% if order_item.item.discount_price %}

                ${{order_item.get_total_discount_item_price}}
                <span class="badge badge-primary">(Saving ${{order_item.get_amount_saved}})</span>
            
            {% else %}

                ${{order_item.get_total_item_price}}
            
            
            {% endif %}

            <a href = {% url 'djecommerce:remove-single-from-cart' order_item.item.slug %}>
            <i class="fa fa-trash ml-2 float-right" aria-hidden="true"></i></a>
            
            </td>
            </tr>
            {% empty %}
            <tr> 
                <td colspan = "5"> Your Cart is Empty</td>
            </tr>

            <tr>
        <td colspan = "5">

            
            <a class = 'btn btn-primary float-right ml-2' href = '/'> Continue Shopping</a>
        </tr>
        {% endfor %}
        {% if object.coupon %}
            <tr>
                <td colspan = "4"><b>Coupon</b></td>
                <td><b>-$ {{object.coupon.amount}}</b><td>
            </tr>

        {% endif %}
        {% if object.get_total %}
        <tr>
        <td colspan = "4"><b>Order Total</b></td>
        <td> {{object.get_total}}</td>
        </tr>

        <tr>
        <td colspan = "5">

        <a class = 'btn btn-warning float-right ml-2' href = '/checkout'> Proceed to Checkout</a>
        <a class = 'btn btn-primary float-right ml-2' href = '/'> Continue Shopping</a>
        </tr>
        {% endif %}
            
        </tbody>
    </table>

   </div>


    </div>
  </main>
  <!--Main layout-->
 


  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="{%static 'js/jquery-3.4.1.min.js'%}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{%static 'js/popper.min.js'%}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{%static 'js/bootstrap.min.js'%}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();

  </script>
</body>
{% endblock content %}

